.search {
    background-color: #FFB6C1;
    padding: 2rem;
    opacity: 90%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.search p {
    color: #000000;
    font-weight: 600;
}

.search_container {
    display: flex;
    gap: 0.5rem;
}

.search_container input,
.search_container button {
    padding: .6rem;
    border-radius: 3px;
    border: none;
    color: #2b3566;
}

.search_container button {
    background-color: #ffffff;
    cursor: pointer;
}