* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #FF1493;
}

body {
    background-color: #FFFAFA;
    padding: 2rem;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
}